/* you will add css rules for element selectors and IDs */
html {
  font-size: 100%;
  box-sizing: border-box;
}

{
  box-sizing: inherit;
}
/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #333;
    max-width: 100%;
    margin: 0;


}
img {
    max-width: 100%; /* DO NOT delete or change this line */
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: left;
  }

h2 {
  margin: 0;
}

header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-top: 2rem;
    font-size: 22px;

  }
header a {
  text-decoration: none;


}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;


}

nav ul li {
  margin: 0;
  margin-left: 2rem;
}

p {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.photo{
  margin: 0;
  display: block;
  width: 100%
  padding:70px;
  width: 37%;
  color: #000;
}



footer {
  margin: 0;
  text-align: center;
}

.text {

  width: 600px;
  font-size: 110%;
  line-height: 1.6;
  color: #000;
  padding: 50px;
  margin: 0;
  align-content: center;
}

#cougar {
  display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      flex-direction: row;
      flex: 1 1 0;
  background:#B26219;
  max-width: 100%;
  margin-top: .25rem;
  padding: 40px;
  padding-top: 40px;
  margin: 0;

}

#lion{
  display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      flex-direction: row;
      flex: 1 1 0;
  background: #FFBD82;
  max-width: 100%;
  margin-top: .25rem;
  padding: 40px;
  padding-top: 40px;
  margin: 0;


}

#tiger{
  display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      flex-direction: row;
      flex: 1 1 0;
  background: #FFD5AE;
  max-width: 100%;
  margin-top: .25rem;
  padding: 40px;
  margin: 0;


}
/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- you may ADD other link pseudo classes for
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a{
    color: #F2F2F2;
}

a:hover {
    color: #485734;
}
